* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;

    --primary-bright-orange: hsl(31, 77%, 52%);
    --primary-dark-cyan: hsl(184, 100%, 22%);
    --primary-very-dark-cyan: hsl(179, 100%, 13%);

    --neutral-transparent-white: hsla(0, 0%, 100%, 0.75);
    --neutral-very-light-gray: hsl(0, 0%, 95%);
}

body {
    /* font-family: 'Big Shoulders Display', sans-serif; */
    font-family: 'Lexend Deca', sans-serif;
    font-size: 1.5rem;
}