* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;

    --primary-bright-orange: hsl(31, 77%, 52%);
    --primary-dark-cyan: hsl(184, 100%, 22%);
    --primary-very-dark-cyan: hsl(179, 100%, 13%);

    --neutral-transparent-white: hsla(0, 0%, 100%, 0.75);
    --neutral-very-light-gray: hsl(0, 0%, 95%);
}

body {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 1.5rem;
}

#app {
    padding: 2.4rem;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    padding: 4.0rem 5.0rem;

}

.sedans-card {
    background-color: var(--primary-bright-orange);

    border-top-left-radius: 2.0rem;
    border-top-right-radius: 2.0rem;
}

.suvs-card {
    background-color: var(--primary-dark-cyan);
}

.luxury-card {
    background-color: var(--primary-very-dark-cyan);

    border-bottom-left-radius: 2.0rem;
    border-bottom-right-radius: 2.0rem;
}

.card-title {
    font-family: 'Big Shoulders Display', sans-serif;
    color: var(--neutral-very-light-gray);
    font-size: 3.6rem;
}

img {
    width: 5.6rem;
}

p {
    color: var(--neutral-transparent-white);
    line-height: 160%;
}

.btn {
    background-color: var(--neutral-very-light-gray);
    line-height: 160%;
    font-weight: 700;
    width: 14.6rem;
    border: none;
    border-radius: 3.2rem;
    padding: 1.6rem;
}

.btn-sedan {
    color: var(--primary-bright-orange);
}

.btn-suv {
    color: var(--primary-dark-cyan);
}

.btn-luxury {
    color: var(--primary-very-dark-cyan);
}